dist/
edmx/
gen/
node_modules/
target/
resources/
mta_archives/
tmp/

default-env.json
config.json
Makefile*.mta
*_mta_build_tmp/
build-info.json
tmp-*

# BTP Health
server/public/
*.mtar
mtad.yaml
response/
.env
*.local
